# Polymorphism

In [1]:
class Animal:
    
    def __init__(self):
        print("From Animal Class")
    
    def sound(sound):
        return sound
    
    
class Dog(Animal):
    
    def __init__(self):
        super().__init__()
        print("From Dog Class")
    
    def sound(sound):
        return sound
    
class Cat(Animal):
    
    def __init__(self):
        super().__init__()
        print("From Cat Class")
    
#     def sound(sound):
#         return sound

In [2]:
animal = Dog()
animal2 = Cat()

From Animal Class
From Dog Class
From Animal Class
From Cat Class

# Database

In [3]:
import mysql

In [4]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: mysql-connector-python in c:\users\youtechbd\appdata\roaming\python\python310\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\youtechbd\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (4.21.1)

In [5]:
import mysql

In [6]:
import mysql.connector as conn

In [7]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\youtechbd\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\youtechbd\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import mysql

In [9]:
import mysql.connector as conn

In [10]:
db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
)
db

In [11]:
#create database
sql = "CREATE DATABASE student"
cursor = db.cursor()
cursor.execute(sql)
cursor.close()
db.close()

DatabaseError: 1007 (HY000): Can't create database 'student'; database exists

In [ ]:
#create table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "CREATE TABLE Student_info(id integer primary key auto_increment, name varchar(255), dept varchar(255))"
    cursor = db.cursor()
    cursor.execute(sql)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [ ]:
#insert data into table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "INSERT INTO Student_info(id , name , dept) VALUES(0, 'Rumpa', 'BBA')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [ ]:
#insert data into table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "INSERT INTO Student_info(id , name , dept) VALUES(0, 'Effat', 'BBA')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [15]:
#fetch the data
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    print(res)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

[(1, 'Rumpa', 'BBA'), (2, 'Effat', 'BBA'), (3, 'Rumpa', 'BBA'), (4, 'Effat', 'BBA')]

In [16]:
#fetch the data
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Rumpa', 'BBA')
(2, 'Effat', 'BBA')
(3, 'Rumpa', 'BBA')
(4, 'Effat', 'BBA')

In [17]:
# with oop
# def insert(self, sql)

In [18]:
#update table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "UPDATE Student_info SET dept = 'CSE' WHERE id = 1"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)  
       
    
#    =====================

    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Rumpa', 'CSE')
(2, 'Effat', 'BBA')
(3, 'Rumpa', 'BBA')
(4, 'Effat', 'BBA')

In [19]:
#delete table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "DELETE From Student_info WHERE id = 3"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)  
       
    
#    =====================

    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Rumpa', 'CSE')
(2, 'Effat', 'BBA')
(4, 'Effat', 'BBA')