# Database

In [1]:
import mysql.connector as conn

In [2]:
db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
)
db

In [3]:
#create database
sql = "CREATE DATABASE student1"
cursor = db.cursor()
cursor.execute(sql)
cursor.close()
db.close()

In [5]:
#create table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "CREATE TABLE Student_info1(id integer primary key auto_increment, name varchar(255), dept varchar(255))"
    cursor = db.cursor()
    cursor.execute(sql)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [7]:
#insert data into table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "INSERT INTO Student_info1(id , name , dept) VALUES(0, 'Rumpa', 'Economics')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [8]:
#insert data into table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "INSERT INTO Student_info1(id , name , dept) VALUES(0, 'Effat', 'BBA')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [9]:
#fetch the data
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info1"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    print(res)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

[(1, 'Rumpa', 'Economics'), (2, 'Effat', 'BBA')]

In [10]:
#fetch the data
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info1"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Rumpa', 'Economics')
(2, 'Effat', 'BBA')

In [11]:
#update table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "UPDATE Student_info1 SET dept = 'CSE' WHERE id = 1"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)  
       
    
#    =====================

    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info1"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Rumpa', 'CSE')
(2, 'Effat', 'BBA')

In [12]:
#delete table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "DELETE From Student_info1 WHERE id = 1"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)  
       
    
#    =====================

    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "student"
    )
    sql = "SELECT * From Student_info1"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(2, 'Effat', 'BBA')